@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --transparent-bg: hsla(0, 0%, 0%, .5);
}

.nav-fix-height, .header-fix-height {
    height: 100vh;
}

.header-fix-height-sub {
    height: 50vh!important;
}

.header-bg {
    background: url("./../imgs/bg/templom_bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.header-sub-bg {
    background: url("./../imgs/bg/templom_bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.main-h1-top, .main-h1-center, .main-h1-bottom {
    background-color: var(--transparent-bg);
    color: hsl(0, 0%, 90%);
    padding: .5rem;
}

.main-heading-2 {
    font-size: 1.75rem!important;
}

.sub-0-heading-3 {
    font-size: 1.5rem!important;
}

.sub-1-heading-3 {
    font-size: 1.1rem!important;
}

.sub-1-heading-3-color {
    color: hsl(180, 0%, 65%)!important;
}

.sub-2-heading-3 {
    font-size: 1.1rem!important;
}

.sub-3-heading-3 {
    font-size: 1rem!important;
}

.img-link-position-main {
    position: relative;
}

.img-link-position-main, .img-link-position-sub-1, .img-link-position-sub-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-link-position-sub-1 {
    position: absolute;
    bottom: 0;
    padding: .5rem 1rem;
    background-color: var(--transparent-bg)!important;
    color: hsl(0, 0%, 90%)!important;
}

.img-link-anim-main {
    overflow: hidden;
}

.img-link-anim-sub {
    transition: all .5s;
}

.img-link-anim-sub:hover {
    transform: scale(1.3);
}

.logo-pic {
    width: 90px!important;
    height: 90px!important;
}

.google-map-main {
    position:relative;
    padding-bottom:72.75%;
}

.google-map-frame {
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}

@media only screen and (min-width: 576px) {
    .main-h1-center {
        font-size: 2.5rem!important;
    }
    .main-heading-2 {
        font-size: 2rem!important;
    }
    .sub-0-heading-3 {
        font-size: 2rem!important;
    }
    .sub-1-heading-3 {
        font-size: 1.4rem!important;
    }
    .sub-2-heading-3 {
        font-size: 1.3rem!important;
    }
    .sub-3-heading-3 {
        font-size: 1.1rem!important;
    }
}

@media only screen and (min-width: 768px) {
    .main-h1-center {
        font-size: 3rem!important;
    }
}

@media only screen and (min-width: 992px) {
    .nav-fix-height {
        width: 18.75rem!important;
    }
    .main-h1-center {
        font-size: 3.5rem!important;
    }
    .main-heading-2 {
        font-size: 2.5rem!important;
    }
}

@media only screen and (min-width: 1200px) {
    .main-h1-center {
        font-size: 4rem!important;
    }    
}

@media only screen and (max-width: 1024px) {
    .udvozlo-font {
        font-size: .9rem!important;
    }
    .copyright-font {
        font-size: .8rem!important;
    }
}

@media only screen and (max-width: 991px) {
    .nav-fix-height {
        height: auto!important;
    }
    .header-fix-height {
        height: 75vh!important;
    }
    .logo-pic {
        width: 60px!important;
        height: 60px!important;
    }
    .udvozlo-font {
        font-size: .8rem!important;
    }
}

@media only screen and (max-width: 575px) {
    .header-fix-height {
        height: 50vh!important;
    }
    .udvozlo-font {
        font-size: .7rem!important;
    }
}